body {
    background-color: black;
}
h1 {
    color: yellow;
    text-align: center;
}  
#quiz {
    background: rgb(214, 212, 212);
    width: 500px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    position: sticky;
    
}

input {
    margin-bottom: 20px;
}

#button {
    background: whitesmoke;
    border-radius: 2px;
    font-size: 16px;
    transition-duration: .5s;
}
#button:hover {
    background: white;
    border: 2px solid yellow;
    color: black;
    cursor: pointer;
}

#after_submit {
    visibility: hidden;
    background: whitesmoke;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    width: 500px;
    margin: auto;
    position: sticky;
    


}